@charset "utf-8";

body, html { background: #364150 no-repeat; }

.card-container.card { max-width: 350px; padding: 20px 40px; }
.btn { font-weight: 700; height: 36px; -moz-user-select: none; -webkit-user-select: none; user-select: none; cursor: default; }

/* Card component */
.card { background-color: #F7F7F7; padding: 20px 25px 30px; margin: 50px auto 25px;
    -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);  }

/* Form styles */
.profile-name-card { font-size: 16px; font-weight: bold; text-align: center; margin: 10px 0 0; min-height: 1em; }
.logo { text-align: center; }
.logo a { font-size: 16pt; line-height: 32px; color: #000; text-decoration: none; }
.logo a span { color: #03a9f4; }
.logo a:hover { text-decoration: none; }

.form-signin #inputId,
.form-signin #inputPassword { direction: ltr; height: 44px; font-size: 16px; }

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button { width: 100%; display: block; margin-bottom: 10px; z-index: 1; position: relative;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.form-signin .form-control:focus { border-color: #03a9f4; outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1),0 0 8px rgba(3, 169, 244, .4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1),0 0 8px rgba(3, 169, 244, .4); }
.btn.btn-signin { background-color: #03a9f4; cursor: pointer; padding: 0; font-weight: 700; font-size: 14px; color: #fff;
    height: 36px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: none;
    -o-transition: all 0.218s; -moz-transition: all 0.218s; -webkit-transition: all 0.218s; transition: all 0.218s; }

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus { background-color: #03a9f4; }

.forgot-password { color: #03a9f4; }

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus { color: #03a9f4; }