@media screen and (max-width:1189px) {
}
@media screen and (max-width:1000px) {
}
@media screen and (max-width:767px) {
    .top-line, .left-top-line { padding: 0; }
    /* logo */
    .logo { text-align: center; padding: 6px 0; }
    .top-switcher { top: 8px; left: 10px; }

    /* user info dropdown menu */
    .nav { padding-right: 0px; }
    .navbar-nav { margin: 0; }
    .avatar { margin-bottom: 0px; }
    .dropdown { text-align: right; top: 5px; right: 10px; }
    .dropdown .avatar { display: inline-block !important; margin: 0 auto 10px auto; }
    .dropdown-menu:before { border: 0; }
    .dropdown-menu li { width: 100%; }
    .dropdown-menu li a { color: #fff; line-height: 35px !important; }
    .dropdown-menu > li > a:hover { background-color: #00BFF4; color: #fff; }
    .dropdown-menu li:not(:last-child) { border-bottom: 1px solid #00BFF4; }
    .dropdown-menu .dropdown-menu-header { background-color: transparent; color: #fff; }
    .dropdown-menu li a i.fa { color: #fff; }

    /* footer */


}
@media screen and (max-width:639px) {

}
@media screen and (max-width:479px) {
}

@media(min-width:1000px) {
    #wrapper { padding-left: 250px; }
    #wrapper.toggled { padding-left: 0; }
    #sidebar-wrapper { width: 250px; }
    #wrapper.toggled #sidebar-wrapper { width: 0; }
    #page-content-wrapper { position: relative; }
    #wrapper.toggled #page-content-wrapper { position: relative; margin-right: 0; }
}