@media screen and (max-width:1189px) {
}
@media screen and (max-width:1000px) {
    .header { margin-top: 15px; margin-bottom: 15px; }
}
@media screen and (max-width:768px) {
    .logo { text-align: center; margin: 10px 0; }
    .login { text-align: center !important; padding-top: 5px; }
    .es-title { float: none; width: 100%; }
    .es-btn { float: none; width: 100%; }
    .es-btn a { width: 100%; margin-top: 10px; }
    .certificate { height: auto !important; margin-bottom: 20px; }
    .cf-title { height: auto !important; }
    .request-id .btn { width: 100%; }
    .holder { margin: 10px 0; text-align: center; }
    .container .btn { width: 100%; margin: 10px 0; }
}
@media screen and (max-width:640px) {
    .information .btn { width: 100%; }

    .bl-quote { float: none; width: 100%; text-align: center; }
    .ft-icon, ft-content { float: none; }
    .ft-icon { float: none; width: 100%; text-align: center; }
    .ft-title { text-align: center; }
    .ft-body { text-align: justify; }
    .bottom-informer { text-align: center !important; }
    .bottom-menu { margin-top: 10px; text-align: center !important; }
    .orange-button { display: none; }
}
@media screen and (max-width:480px) {
}